# Ne pas envoyer les dépendances
node_modules/
.env.local
# Ne pas envoyer les variables secrètes (DB, JWT, etc.)
.env
.env.render.backup
.env.*
.venv/

.venv/

turn-render/

backend/venv/
Archives_plateforme/
backups/
plateforme_educative/
Archives_plateforme/

. e n v 
 
 . e n v . r e n d e r . b a c k u p 
 
 . e n v . r e n d e r . b a c k u p 
 
 i n v o i c e s / 
invoices/*.pdf
 
 
public/venv/
invoices/
*.backup
*.bak
connectedProfs
