--
-- PostgreSQL database dump
--

\restrict KwDUuUWaVQAt5jA7dfMbUbHJ0GddC19DzXPyyDunUiRuYezbUfGCnLsOmmxUHzs

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: plateforme_scolaire_db_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO plateforme_scolaire_db_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: appels; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.appels (
    id integer NOT NULL,
    prof_username character varying(255) NOT NULL,
    eleve_username character varying(255) NOT NULL,
    start_time timestamp without time zone NOT NULL,
    end_time timestamp without time zone,
    duree_minutes numeric(10,2),
    statut character varying(20) DEFAULT 'en_cours'::character varying,
    started_at timestamp without time zone,
    ended_at timestamp without time zone,
    status text DEFAULT 'ringing'::text
);


ALTER TABLE public.appels OWNER TO plateforme_scolaire_db_user;

--
-- Name: appels_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.appels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.appels_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: appels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.appels_id_seq OWNED BY public.appels.id;


--
-- Name: bookings; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.bookings (
    id integer NOT NULL,
    user_id integer NOT NULL,
    prof_id integer NOT NULL,
    status character varying(50) DEFAULT 'pending'::character varying,
    stripe_payment_intent character varying(255),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.bookings OWNER TO plateforme_scolaire_db_user;

--
-- Name: bookings_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.bookings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bookings_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: bookings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.bookings_id_seq OWNED BY public.bookings.id;


--
-- Name: document_exchange; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.document_exchange (
    id integer NOT NULL,
    from_user_id integer,
    to_user_id integer,
    filename character varying(255),
    filepath text,
    uploaded_at timestamp without time zone DEFAULT now(),
    visio_session_id integer
);


ALTER TABLE public.document_exchange OWNER TO plateforme_scolaire_db_user;

--
-- Name: document_exchange_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.document_exchange_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.document_exchange_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: document_exchange_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.document_exchange_id_seq OWNED BY public.document_exchange.id;


--
-- Name: eleve_monthly_hours; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.eleve_monthly_hours (
    id integer NOT NULL,
    user_id integer NOT NULL,
    annee integer NOT NULL,
    mois integer NOT NULL,
    duree_minutes integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.eleve_monthly_hours OWNER TO plateforme_scolaire_db_user;

--
-- Name: eleve_monthly_hours_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.eleve_monthly_hours_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.eleve_monthly_hours_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: eleve_monthly_hours_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.eleve_monthly_hours_id_seq OWNED BY public.eleve_monthly_hours.id;


--
-- Name: factures; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.factures (
    id integer NOT NULL,
    user_id integer NOT NULL,
    prenom character varying(100),
    nom character varying(100),
    email character varying(255),
    montant numeric(10,2) NOT NULL,
    type character varying(50),
    date timestamp without time zone DEFAULT now(),
    pdf_url text
);


ALTER TABLE public.factures OWNER TO plateforme_scolaire_db_user;

--
-- Name: factures_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.factures_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.factures_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: factures_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.factures_id_seq OWNED BY public.factures.id;


--
-- Name: heures_connexion; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.heures_connexion (
    id integer NOT NULL,
    username character varying(100) NOT NULL,
    date_debut timestamp without time zone NOT NULL,
    date_fin timestamp without time zone NOT NULL,
    duree_minutes integer GENERATED ALWAYS AS ((EXTRACT(epoch FROM (date_fin - date_debut)) / (60)::numeric)) STORED
);


ALTER TABLE public.heures_connexion OWNER TO plateforme_scolaire_db_user;

--
-- Name: heures_connexion_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.heures_connexion_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.heures_connexion_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: heures_connexion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.heures_connexion_id_seq OWNED BY public.heures_connexion.id;


--
-- Name: heures_prof; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.heures_prof (
    id integer NOT NULL,
    username character varying(50),
    lundi integer DEFAULT 0,
    mardi integer DEFAULT 0,
    mercredi integer DEFAULT 0,
    jeudi integer DEFAULT 0,
    vendredi integer DEFAULT 0
);


ALTER TABLE public.heures_prof OWNER TO plateforme_scolaire_db_user;

--
-- Name: heures_prof_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.heures_prof_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.heures_prof_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: heures_prof_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.heures_prof_id_seq OWNED BY public.heures_prof.id;


--
-- Name: invoices; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.invoices (
    id integer NOT NULL,
    invoice_number character varying(50) NOT NULL,
    user_id integer NOT NULL,
    amount integer NOT NULL,
    plan_type character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.invoices OWNER TO plateforme_scolaire_db_user;

--
-- Name: invoices_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.invoices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.invoices_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: invoices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.invoices_id_seq OWNED BY public.invoices.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    user_id integer NOT NULL,
    type character varying(50) NOT NULL,
    data jsonb,
    is_read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notifications_id_seq OWNER TO postgres;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: paiements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.paiements (
    id integer NOT NULL,
    montant numeric(10,2) NOT NULL,
    date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    user_id integer,
    methode character varying(50),
    transaction_id character varying(255)
);


ALTER TABLE public.paiements OWNER TO postgres;

--
-- Name: paiements_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.paiements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.paiements_id_seq OWNER TO postgres;

--
-- Name: paiements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.paiements_id_seq OWNED BY public.paiements.id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.password_reset_tokens (
    id bigint NOT NULL,
    email character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    expires_at timestamp without time zone
);


ALTER TABLE public.password_reset_tokens OWNER TO plateforme_scolaire_db_user;

--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.password_reset_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.password_reset_tokens_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.password_reset_tokens_id_seq OWNED BY public.password_reset_tokens.id;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.payments (
    id integer NOT NULL,
    user_id integer,
    stripe_session_id text,
    amount integer,
    currency text,
    status text,
    created_at timestamp without time zone DEFAULT now(),
    type character varying(50)
);


ALTER TABLE public.payments OWNER TO plateforme_scolaire_db_user;

--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payments_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: prof_monthly_hours; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.prof_monthly_hours (
    id integer NOT NULL,
    prof_username character varying(255) NOT NULL,
    month date NOT NULL,
    total_hours numeric(10,2) DEFAULT 0,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.prof_monthly_hours OWNER TO plateforme_scolaire_db_user;

--
-- Name: prof_monthly_hours_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.prof_monthly_hours_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.prof_monthly_hours_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: prof_monthly_hours_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.prof_monthly_hours_id_seq OWNED BY public.prof_monthly_hours.id;


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.refresh_tokens (
    id integer NOT NULL,
    token character varying(255) NOT NULL,
    user_id integer NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.refresh_tokens OWNER TO plateforme_scolaire_db_user;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.refresh_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.refresh_tokens_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.refresh_tokens_id_seq OWNED BY public.refresh_tokens.id;


--
-- Name: rooms; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.rooms (
    id integer NOT NULL,
    room_name text NOT NULL,
    prof_id integer NOT NULL,
    eleve_id integer NOT NULL,
    started_at timestamp without time zone DEFAULT now() NOT NULL,
    ended_at timestamp without time zone,
    duration_seconds integer,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.rooms OWNER TO plateforme_scolaire_db_user;

--
-- Name: rooms_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.rooms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rooms_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: rooms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.rooms_id_seq OWNED BY public.rooms.id;


--
-- Name: stripe_events; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.stripe_events (
    id integer NOT NULL,
    event_id character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.stripe_events OWNER TO plateforme_scolaire_db_user;

--
-- Name: stripe_events_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.stripe_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stripe_events_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: stripe_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.stripe_events_id_seq OWNED BY public.stripe_events.id;


--
-- Name: stripe_invoices; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.stripe_invoices (
    id integer NOT NULL,
    user_id integer NOT NULL,
    prenom character varying(100),
    nom character varying(100),
    email character varying(255),
    amount_due integer NOT NULL,
    currency character varying(10) NOT NULL,
    status character varying(50) NOT NULL,
    created bigint NOT NULL,
    invoice_id character varying(255),
    pdf_url text
);


ALTER TABLE public.stripe_invoices OWNER TO plateforme_scolaire_db_user;

--
-- Name: stripe_invoices_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.stripe_invoices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stripe_invoices_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: stripe_invoices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.stripe_invoices_id_seq OWNED BY public.stripe_invoices.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    username character varying(100),
    prenom character varying(100),
    nom character varying(100),
    role character varying(50) DEFAULT 'eleve'::character varying,
    statut character varying(50) DEFAULT 'pending'::character varying,
    telephone character varying(20),
    matiere character varying(100),
    subscription_status character varying(20) DEFAULT 'inactive'::character varying,
    free_trial_start timestamp without time zone,
    free_trial_end timestamp without time zone,
    subscription_end_date timestamp without time zone,
    plan_type character varying(20),
    stripe_subscription_id character varying(255),
    pays character varying(255) DEFAULT 'France'::character varying,
    date_inscription timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    classe character varying,
    niveau character varying,
    date_naissance date,
    parent_nom character varying,
    photo_url character varying,
    bio text,
    tarif_horaire numeric(10,2),
    disponibilites text,
    ville character varying(255) DEFAULT NULL::character varying,
    "resetToken" character varying(255),
    "resetTokenExpires" timestamp without time zone,
    sujet text,
    stripe_account_id text,
    stripe_onboarding_complete boolean DEFAULT false,
    price_per_minute numeric(6,2) DEFAULT 1.50,
    balance numeric(10,2) DEFAULT 0,
    minutes_remaining integer DEFAULT 0,
    stripe_customer_id text,
    diplome_url text,
    is_active boolean DEFAULT false,
    currency character varying(3) DEFAULT 'EUR'::character varying,
    is_university_prof boolean DEFAULT false,
    is_subscriber boolean DEFAULT false,
    has_payment_method boolean DEFAULT false,
    CONSTRAINT balance_non_negative CHECK ((balance >= (0)::numeric))
);


ALTER TABLE public.users OWNER TO plateforme_scolaire_db_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: visio_sessions; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.visio_sessions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    room_id character varying(255) NOT NULL,
    start_time timestamp without time zone NOT NULL,
    end_time timestamp without time zone,
    duration_seconds integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    payment_intent_id text,
    payment_status text DEFAULT 'pending'::text,
    amount numeric,
    professor_id integer,
    matiere text,
    is_paid boolean DEFAULT false
);


ALTER TABLE public.visio_sessions OWNER TO plateforme_scolaire_db_user;

--
-- Name: visio_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.visio_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.visio_sessions_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: visio_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.visio_sessions_id_seq OWNED BY public.visio_sessions.id;


--
-- Name: whiteboard_sessions; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.whiteboard_sessions (
    id integer NOT NULL,
    room_id character varying(100) NOT NULL,
    snapshot text NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.whiteboard_sessions OWNER TO plateforme_scolaire_db_user;

--
-- Name: whiteboard_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.whiteboard_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.whiteboard_sessions_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: whiteboard_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.whiteboard_sessions_id_seq OWNED BY public.whiteboard_sessions.id;


--
-- Name: whiteboard_snapshots; Type: TABLE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE TABLE public.whiteboard_snapshots (
    id integer NOT NULL,
    room_id character varying(100) NOT NULL,
    snapshot text NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.whiteboard_snapshots OWNER TO plateforme_scolaire_db_user;

--
-- Name: whiteboard_snapshots_id_seq; Type: SEQUENCE; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE SEQUENCE public.whiteboard_snapshots_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.whiteboard_snapshots_id_seq OWNER TO plateforme_scolaire_db_user;

--
-- Name: whiteboard_snapshots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER SEQUENCE public.whiteboard_snapshots_id_seq OWNED BY public.whiteboard_snapshots.id;


--
-- Name: appels id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.appels ALTER COLUMN id SET DEFAULT nextval('public.appels_id_seq'::regclass);


--
-- Name: bookings id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.bookings ALTER COLUMN id SET DEFAULT nextval('public.bookings_id_seq'::regclass);


--
-- Name: document_exchange id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.document_exchange ALTER COLUMN id SET DEFAULT nextval('public.document_exchange_id_seq'::regclass);


--
-- Name: eleve_monthly_hours id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.eleve_monthly_hours ALTER COLUMN id SET DEFAULT nextval('public.eleve_monthly_hours_id_seq'::regclass);


--
-- Name: factures id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.factures ALTER COLUMN id SET DEFAULT nextval('public.factures_id_seq'::regclass);


--
-- Name: heures_connexion id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.heures_connexion ALTER COLUMN id SET DEFAULT nextval('public.heures_connexion_id_seq'::regclass);


--
-- Name: heures_prof id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.heures_prof ALTER COLUMN id SET DEFAULT nextval('public.heures_prof_id_seq'::regclass);


--
-- Name: invoices id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.invoices ALTER COLUMN id SET DEFAULT nextval('public.invoices_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: paiements id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiements ALTER COLUMN id SET DEFAULT nextval('public.paiements_id_seq'::regclass);


--
-- Name: password_reset_tokens id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.password_reset_tokens ALTER COLUMN id SET DEFAULT nextval('public.password_reset_tokens_id_seq'::regclass);


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Name: prof_monthly_hours id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.prof_monthly_hours ALTER COLUMN id SET DEFAULT nextval('public.prof_monthly_hours_id_seq'::regclass);


--
-- Name: refresh_tokens id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.refresh_tokens ALTER COLUMN id SET DEFAULT nextval('public.refresh_tokens_id_seq'::regclass);


--
-- Name: rooms id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.rooms ALTER COLUMN id SET DEFAULT nextval('public.rooms_id_seq'::regclass);


--
-- Name: stripe_events id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.stripe_events ALTER COLUMN id SET DEFAULT nextval('public.stripe_events_id_seq'::regclass);


--
-- Name: stripe_invoices id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.stripe_invoices ALTER COLUMN id SET DEFAULT nextval('public.stripe_invoices_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: visio_sessions id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.visio_sessions ALTER COLUMN id SET DEFAULT nextval('public.visio_sessions_id_seq'::regclass);


--
-- Name: whiteboard_sessions id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.whiteboard_sessions ALTER COLUMN id SET DEFAULT nextval('public.whiteboard_sessions_id_seq'::regclass);


--
-- Name: whiteboard_snapshots id; Type: DEFAULT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.whiteboard_snapshots ALTER COLUMN id SET DEFAULT nextval('public.whiteboard_snapshots_id_seq'::regclass);


--
-- Data for Name: appels; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--



--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--

COPY public.bookings (id, user_id, prof_id, status, stripe_payment_intent, created_at) FROM stdin;
\.


--
-- Data for Name: document_exchange; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--

COPY public.document_exchange (id, from_user_id, to_user_id, filename, filepath, uploaded_at, visio_session_id) FROM stdin;
\.


--
-- Data for Name: eleve_monthly_hours; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--

COPY public.eleve_monthly_hours (id, user_id, annee, mois, duree_minutes) FROM stdin;
\.


--
-- Data for Name: factures; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--

COPY public.factures (id, user_id, prenom, nom, email, montant, type, date, pdf_url) FROM stdin;
1	33	Super	Admin	admin@example.com	2500.00	cours	2026-01-09 11:42:24.041745	https://example.com/test.pdf
\.


--
-- Data for Name: heures_connexion; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--

COPY public.heures_connexion (id, username, date_debut, date_fin) FROM stdin;
\.


--
-- Data for Name: heures_prof; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--

COPY public.heures_prof (id, username, lundi, mardi, mercredi, jeudi, vendredi) FROM stdin;
\.


--
-- Data for Name: invoices; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--

COPY public.invoices (id, invoice_number, user_id, amount, plan_type, created_at) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, user_id, type, data, is_read, created_at) FROM stdin;
\.


--
-- Data for Name: paiements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.paiements (id, montant, date, user_id, methode, transaction_id) FROM stdin;
1	2500.00	2026-04-11 09:42:18.190274	\N	test_initial	\N
\.


--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--

COPY public.password_reset_tokens (id, email, token, created_at, expires_at) FROM stdin;
1	test@example.com	test-token-123	2025-12-13 15:33:56.03024	2025-12-13 16:33:56.03024
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--



--
-- Data for Name: prof_monthly_hours; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--

COPY public.prof_monthly_hours (id, prof_username, month, total_hours, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--



--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--



--
-- Data for Name: stripe_events; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--

COPY public.stripe_events (id, event_id, created_at) FROM stdin;
\.


--
-- Data for Name: stripe_invoices; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--

COPY public.stripe_invoices (id, user_id, prenom, nom, email, amount_due, currency, status, created, invoice_id, pdf_url) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--



--
-- Data for Name: visio_sessions; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--



--
-- Data for Name: whiteboard_sessions; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--

COPY public.whiteboard_sessions (id, room_id, snapshot, created_at) FROM stdin;
\.


--
-- Data for Name: whiteboard_snapshots; Type: TABLE DATA; Schema: public; Owner: plateforme_scolaire_db_user
--

COPY public.whiteboard_snapshots (id, room_id, snapshot, created_at) FROM stdin;
\.


--
-- Name: appels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.appels_id_seq', 364, true);


--
-- Name: bookings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.bookings_id_seq', 1, false);


--
-- Name: document_exchange_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.document_exchange_id_seq', 1, false);


--
-- Name: eleve_monthly_hours_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.eleve_monthly_hours_id_seq', 1, false);


--
-- Name: factures_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.factures_id_seq', 1, true);


--
-- Name: heures_connexion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.heures_connexion_id_seq', 1, false);


--
-- Name: heures_prof_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.heures_prof_id_seq', 1, false);


--
-- Name: invoices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.invoices_id_seq', 1, false);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, false);


--
-- Name: paiements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.paiements_id_seq', 1, true);


--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.password_reset_tokens_id_seq', 1, true);


--
-- Name: payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.payments_id_seq', 15, true);


--
-- Name: prof_monthly_hours_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.prof_monthly_hours_id_seq', 1, false);


--
-- Name: refresh_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.refresh_tokens_id_seq', 1604, true);


--
-- Name: rooms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.rooms_id_seq', 305, true);


--
-- Name: stripe_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.stripe_events_id_seq', 1, false);


--
-- Name: stripe_invoices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.stripe_invoices_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.users_id_seq', 39, true);


--
-- Name: visio_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.visio_sessions_id_seq', 41, true);


--
-- Name: whiteboard_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.whiteboard_sessions_id_seq', 1, false);


--
-- Name: whiteboard_snapshots_id_seq; Type: SEQUENCE SET; Schema: public; Owner: plateforme_scolaire_db_user
--

SELECT pg_catalog.setval('public.whiteboard_snapshots_id_seq', 1, false);


--
-- Name: appels appels_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.appels
    ADD CONSTRAINT appels_pkey PRIMARY KEY (id);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: document_exchange document_exchange_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.document_exchange
    ADD CONSTRAINT document_exchange_pkey PRIMARY KEY (id);


--
-- Name: eleve_monthly_hours eleve_monthly_hours_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.eleve_monthly_hours
    ADD CONSTRAINT eleve_monthly_hours_pkey PRIMARY KEY (id);


--
-- Name: factures factures_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.factures
    ADD CONSTRAINT factures_pkey PRIMARY KEY (id);


--
-- Name: heures_connexion heures_connexion_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.heures_connexion
    ADD CONSTRAINT heures_connexion_pkey PRIMARY KEY (id);


--
-- Name: heures_prof heures_prof_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.heures_prof
    ADD CONSTRAINT heures_prof_pkey PRIMARY KEY (id);


--
-- Name: heures_prof heures_prof_username_key; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.heures_prof
    ADD CONSTRAINT heures_prof_username_key UNIQUE (username);


--
-- Name: invoices invoices_invoice_number_key; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_invoice_number_key UNIQUE (invoice_number);


--
-- Name: invoices invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.invoices
    ADD CONSTRAINT invoices_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: paiements paiements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiements
    ADD CONSTRAINT paiements_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_token_key UNIQUE (token);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: prof_monthly_hours prof_monthly_hours_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.prof_monthly_hours
    ADD CONSTRAINT prof_monthly_hours_pkey PRIMARY KEY (id);


--
-- Name: prof_monthly_hours prof_monthly_hours_prof_username_month_key; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.prof_monthly_hours
    ADD CONSTRAINT prof_monthly_hours_prof_username_month_key UNIQUE (prof_username, month);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (id);


--
-- Name: stripe_events stripe_events_event_id_key; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.stripe_events
    ADD CONSTRAINT stripe_events_event_id_key UNIQUE (event_id);


--
-- Name: stripe_events stripe_events_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.stripe_events
    ADD CONSTRAINT stripe_events_pkey PRIMARY KEY (id);


--
-- Name: stripe_invoices stripe_invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.stripe_invoices
    ADD CONSTRAINT stripe_invoices_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: visio_sessions visio_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.visio_sessions
    ADD CONSTRAINT visio_sessions_pkey PRIMARY KEY (id);


--
-- Name: whiteboard_sessions whiteboard_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.whiteboard_sessions
    ADD CONSTRAINT whiteboard_sessions_pkey PRIMARY KEY (id);


--
-- Name: whiteboard_snapshots whiteboard_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.whiteboard_snapshots
    ADD CONSTRAINT whiteboard_snapshots_pkey PRIMARY KEY (id);


--
-- Name: idx_email; Type: INDEX; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE INDEX idx_email ON public.password_reset_tokens USING btree (email);


--
-- Name: idx_expires_at; Type: INDEX; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE INDEX idx_expires_at ON public.password_reset_tokens USING btree (expires_at);


--
-- Name: idx_prof_monthly_hours; Type: INDEX; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE INDEX idx_prof_monthly_hours ON public.prof_monthly_hours USING btree (prof_username, month);


--
-- Name: idx_refresh_tokens_token; Type: INDEX; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE INDEX idx_refresh_tokens_token ON public.refresh_tokens USING btree (token);


--
-- Name: idx_refresh_tokens_user_id; Type: INDEX; Schema: public; Owner: plateforme_scolaire_db_user
--

CREATE INDEX idx_refresh_tokens_user_id ON public.refresh_tokens USING btree (user_id);


--
-- Name: document_exchange document_exchange_from_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.document_exchange
    ADD CONSTRAINT document_exchange_from_user_id_fkey FOREIGN KEY (from_user_id) REFERENCES public.users(id);


--
-- Name: document_exchange document_exchange_to_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.document_exchange
    ADD CONSTRAINT document_exchange_to_user_id_fkey FOREIGN KEY (to_user_id) REFERENCES public.users(id);


--
-- Name: document_exchange document_exchange_visio_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.document_exchange
    ADD CONSTRAINT document_exchange_visio_session_id_fkey FOREIGN KEY (visio_session_id) REFERENCES public.visio_sessions(id);


--
-- Name: factures fk_factures_user; Type: FK CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.factures
    ADD CONSTRAINT fk_factures_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: refresh_tokens fk_refresh_user; Type: FK CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT fk_refresh_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: stripe_invoices fk_stripe_invoices_user; Type: FK CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.stripe_invoices
    ADD CONSTRAINT fk_stripe_invoices_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: paiements paiements_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.paiements
    ADD CONSTRAINT paiements_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: payments payments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: plateforme_scolaire_db_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: plateforme_scolaire_db_user
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;
GRANT USAGE ON SCHEMA public TO professeur;


--
-- Name: TABLE notifications; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.notifications TO plateforme_scolaire_db_user;


--
-- Name: SEQUENCE notifications_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.notifications_id_seq TO plateforme_scolaire_db_user;


--
-- Name: TABLE paiements; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.paiements TO plateforme_scolaire_db_user;


--
-- Name: SEQUENCE paiements_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.paiements_id_seq TO plateforme_scolaire_db_user;


--
-- Name: TABLE users; Type: ACL; Schema: public; Owner: plateforme_scolaire_db_user
--

GRANT ALL ON TABLE public.users TO professeur;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO plateforme_scolaire_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO plateforme_scolaire_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO plateforme_scolaire_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO plateforme_scolaire_db_user;


--
-- PostgreSQL database dump complete
--

\unrestrict KwDUuUWaVQAt5jA7dfMbUbHJ0GddC19DzXPyyDunUiRuYezbUfGCnLsOmmxUHzs

